body{
    margin: 0;
    padding: 0;
    background-color: rgb(239, 239, 247);
    font-family: 'Ubuntu', sans-serif;
}
h1{
    text-align: center;
    margin: auto;
    font-size: 3.0em;
    color: rgb(78,84,199);

}
#container {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#container .element-container {
    display: flex;
    flex-direction: column;
    width: 24em;
    padding: 20 px;
    border: 4px solid;
    border-color: rgb(156, 156, 158);
    justify-content:space-around;
    text-align: center;
    border-radius:  10px ;
    background-color: white;
    margin-top: 10%;
}

#container .element-container .title {
    font-size: 1.8em;
    color: rgb(30, 30, 116);
}

#container .element-container .image {
    padding: 2%;
    width: 90%;
    margin: auto;
}
#container .element-container .price{
    border: 2px solid;
    margin: auto;
    padding: 5px 15px;
    font-size: 1.5em;
    background-color:rgb(78,84,199);
    border-radius: 10px;
    color: white ;
    
}

#container .element-container .price:hover{
    background-color: white;
    color: black;
}
#container .element-container .category{
    font-size: 1.3rem;
    font-weight: bold;
}
#container .element-container .category:hover{
    color: gray;
}
#container .element-container .description{
    text-align: justify;
    margin:10%;
    font-weight: 500;
    font-size: 1.1rem;
}
#container .element-container .rating{
    font-weight: 800;
}



.loader-container{
    display: flex;
    justify-content: center;
    margin: 10%;
    
}

.loader {  
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  