body{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(246, 246, 250);

}
/* top section */
#top{
    display: flex;
    flex-direction: column;

}
#top img{
    font-size: 100px;
    width: 300px;
    cursor: pointer;
}
#top h2{
    text-align: center;
    font-size: 30px;
}
#top p{
    text-align: center;
}

/* form section */
#form{
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    
}
#form form{
    display: flex;
    flex-direction: column;
}
#form label{
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 18px;
}
#form input{
    margin-bottom: 10px;
    width: auto;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
}
#form .all input{
    width: 100%;
}
#form #checkbox{
    margin: 15px  10px;
    align-items: center;
}
#form #checkbox input{
    width: 15px;
    
}
#form #signupbtn{
    text-align: center;
}

#form #signupbtn button{
    font-size: 17px;
    width: 95%;
    height:40px ;
    background-color: rgb(76, 76, 218);
    color: white;
    border-radius: 10px;
    border: none; 
    cursor: pointer;

}



.formerror{
    color: red;
}

#signupbtn .formerror{
    color: green;
    text-align: center;
}

#product{
    display: none;
}
#product h3{
    text-align: center;
    color: rgb(20, 70, 16);
}
#product button{
    font-size: 17px;
    width: 95%;
    height:40px ;
    background-color: rgb(235, 70, 92);
    color: white;
    border-radius: 10px;
    border: none; 
    cursor: pointer;
}
