body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

/* Home header Section  */
#home {
    border: 2px solid;
    width: auto;
    background: #4338ca;
    height: 100%;
}

#home #header {
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
}

/* #home #header .logo{
  
} */
#home #header .logo img {
    width: 50%;
    height: 60%;
}

#home #header .menu-btn i {
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

#home #click {
    display: none;
}

#home #header .center {
    margin-left: -28%;
}

#home #header .center .navbar {
    display: flex;
}

#home #header .center .navbar li {
    list-style: none;
    margin: 0px 30px;

}

#home #header .center .navbar a {
    text-decoration: none;
    color: white;


}

#home #header .center .navbar a:hover {
    color: rgb(184, 181, 235);
    cursor: pointer;
}

/* #home #header .end{
} */

#home #header .end .btn {
    background: white;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}

#home #header .end button {
    border-radius: 8px;
    padding: 8px 15px;
    color: rgb(75, 49, 196);
}


/* Home intro Section  */

#home #intro {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-bottom: 20%;
}

#home #intro h1 {
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    color: white;
    font-size: 3.6em;
    text-align: center;
    padding: 1% 5%;
}

#home #intro .bottom {
    color: rgb(199, 210, 254);
}

#home #intro p {
    margin: 10px ;
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

#home #intro .button {
    margin: 40px 0;
    display: flex;
    justify-content: center;

}

#home #intro .button button {
    font-size: 1.3rem;
    border-radius: 8px;
    padding: 15px 30px;
    border: none;
    margin: 0 1.2%;
    cursor: pointer;

}

#home #intro .button .btn1 {
    color: white;
    background: rgb(124, 58, 237);
}

#home #intro .button .btn2 {
    color: rgb(124, 58, 237);
}

#home #intro .fac {
    margin: 10px auto;
    display: flex;
}

#home #intro .fac p {
    margin: 0 20px;
}

/* image section */

#image {
    width: auto;
    margin-top: -20%;
}

#image .image {
    display: flex;
    justify-content: center;
}

#image img {
    width: 90%;
}

/* dashboard section */

#dashboard {
    margin: 0;
    padding: 2% 7%;

}

#dashboard h1 {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;

}

#dashboard p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.3em;
    margin: 4% 5%;
    color: rgb(99, 96, 96);



}

#dashboard #boxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 2px solid; */
}

#dashboard .all {
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1% 1%;
    padding: 10px;
    background-color: rgb(246, 249, 252);

}

#dashboard .all img {
    width: 13%;
    margin-top: -10%;
    background-color: rgb(75, 49, 196);
    border-radius: 5px;


}

#dashboard .all h3 {
    text-align: center;
}


/* theme section */
#theme {
    height: 100%;
}

#theme .box1 {
    display: flex;
    justify-content: center;
    background-color: rgb(244, 240, 240);
}

#theme .box1 h1 {
    margin-top: 7.5%;
    width: 80%;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 45%;
}

#theme .box2 {

    display: flex;
    justify-content: center;
    background-color: rgb(31, 41, 55);

}

#theme .box2 img {
    width: 80%;
    margin-top: -35%;
    margin-bottom: 10%;
}

#theme .box3 {
    display: flex;
    flex-direction: column;
    background-color: rgb(244, 240, 240);
}

#theme .box3 p {
    display: flex;
    text-align: center;
    margin: 3% 10%;
    font-size: 1.55em;
}

#theme .box3 .detail {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#theme .box3 .left {
    font-size: 1.05rem;
    margin: 10px;

}

#theme .box3 .right {
    font-size: 1.05rem;
    margin: 10px;
    color: gray;

}


/* extra section */
#extra {
    display: flex;
    flex-direction: column;
    margin: 5% 10%;
    width: 80%;
}

#extra .head {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 20px;
}

#extra .head h1 {
    margin: auto;
    font-size: 2rem;


}

#extra .bottom {
    color: #4338ca;

}

#extra button {
    border-radius: 8px;
    padding: 8px 15px;
    color: rgb(75, 49, 196);
    margin: 3% auto;
    border: none;

}

#extra .btn {
    background-color: rgb(124, 58, 237);
    color: white;
    font-size: 1.2em;
    padding: 20px 30px;
}

#extra .fac {
    margin: 1% auto;
    display: flex;
    /* flex-wrap: wrap; */

}

#extra .fac p {
    width: auto;
    margin: 5%;
    text-align: center;
}


/* footer section */
#footer {
    background-color: rgb(31, 41, 55);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3%;

}

#footer .left {
    display: flex;
    flex-direction: column;
    padding: 2%;
}

#footer .left .logo img {
    width: 50%;
    height: 90%;
}

#footer .left p {
    width: 90%;
    color: rgb(116, 114, 114);
}

#footer .left .social {
    margin: 20px;
    font-size: 2em;
}

#footer .left .social svg path {
    fill: rgb(156, 154, 154);
   
}

#footer .left .social svg:hover path {
    fill: rgb(85, 84, 84);
    cursor: pointer;
}


#footer .right {
    display: flex;
    margin: auto;
    width: 60%;
    justify-content: space-around;
    flex-wrap: wrap;
}

#footer .right .all {
    display: flex;
    flex-direction: column;
    width :150px ;
    
}

#footer .right .all h4 {

    color: rgb(179, 174, 174);
}

#footer .right .all p {
    color: rgb(116, 114, 114);
}


/* copyright section */
 #copyright {
    text-align: center;
    background: rgb(31, 41, 55);
}

 .copyright {
    color: rgb(116, 114, 114);
    
}

@media (max-width : 900px) {
    
    #home #header .center {
        position: absolute;
        margin: auto;
    }
    
    #home #header .center ul {
        position: fixed;
        background: white;
        left: -120%;
        height: 30vh;
        width: 80vw;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
        font-size: 1.5em;
    }

    #home #click:checked~.center ul {
        left: 3%;
    }

    #home #header .menu-btn i {
        margin: 10px auto;
        display: block;
    }

    #home #header .center ul {
        margin: 50px 0;
    }
    #home #header .center .navbar a{
        color: black;
    }


}